[submodule ".shellutils/zsh-completions"]
	path = .shellutils/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".shellutils/zsh-syntax-highlighting"]
	path = .shellutils/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".shellutils/zsh-history-substring-search"]
	path = .shellutils/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".vim-deploy/vim-android"]
	path = .vim-deploy/vim-android
	url = https://github.com/bpowell/vim-android.git
[submodule ".vim-deploy/vim-gitgutter"]
	path = .vim-deploy/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
